@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
   background: black;
    
}

/* Select Box */
.select-box, .board, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box {
    position: absolute;
    padding: 20px 25px 25px;
    max-width: 400px;
    width: 100%;
    color: #ffd700;
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
}

.select-box .title {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.select-box .options {
    width: 100%;
    display: flex;
}

.select-box button {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: crosshair;
    transition: all 0.3s ease;
}

.select-box .playerX {
    background-color: #F000FF;
}

.select-box .playerO {
    background-color: #04d9ff;
}

.options button:hover,
.result-box .btn button:hover {
    transform: scale(0.9);
}
 
.options button.playerX {
    margin-right: 5px;
}

.options button.playerO {
    margin-left: 5px;
}

/* Board Section */
.board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    cursor: crosshair;
}

.board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.board .details {
   background-color: #fff;
   padding: 7px;
   border-radius: 5px;
}

.board .details .players {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.board .details span {
    width: 100%;
    color: #56baed;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 20px;
    font-weight: 500;
    cursor: crosshair;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.details span:first-child {
    color: #fff;
}

.details .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 50%;
    background: #F000FF;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.players.active span:first-child {
    color: #04d9ff;
}

.players.active span:nth-child(2) {
    color: #fff;
}

.players.active .slider {
    left: 50%;
    background-color: #04d9ff;
}

.board .play-area {
    margin-top: 20px;
}

.board section {
    display: flex;
}

.board section span {
    display: block;
    height: 130px;
    width: 130px;
    background: transparent;
    font-size: 70px;
    text-align: center;
    line-height: 120px;
    color: #fff;
    -webkit-filter: drop-shadow(0px 0px 5px #EA0C0C);
    
}

.board section span i.fa-solid.fa-x {
    color: #ffd700;
    -webkit-filter: drop-shadow(0px 0px 5px #EA0C0C);

}

.board section span i.fa-regular.fa-circle {
    color: 	#04d9ff;
    -webkit-filter: drop-shadow(0px 0px 10px #EA0C0C);
}

.board section span {
    border: 5px solid #F000FF;
}

.play-area section:first-child span{
     border-top:none;
}

.play-area section:last-child span{
    border-bottom:none;
}

.play-area section span:first-child{
    border-left:none;
}

.play-area section span:last-child{
   border-right:none;
}

/* Results */
.result-box {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    cursor: crosshair;
    color: #ffd700;
    }
    
.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}


.result-box .win-text {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .win-text p {
    font-weight: 700; 
    margin: 0 5px;
}

.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.result-box .btn button {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #F000FF;
    border-radius: 10px;
    color: #04d9ff;
    cursor: crosshair;
    transition: all 0.3s ease;
}


